In [18]:
import pandas as pd
from sqlalchemy import create_engine

1.1.DF connection

In [19]:
# Replace the placeholders with your actual database credentials
username = 'root'
password = 'Mosimosi123#'
host = '127.0.0.1'  # or your database host
database = 'Chinook'

# Create the connection string
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

# Create the SQLAlchemy engine
engine = create_engine(connection_string)

1.2. Create DF from DB table

In [20]:
# Get the list of all tables in the database
tables_query = "SHOW TABLES"
tables = pd.read_sql(tables_query, engine)

# Initialize a dictionary to hold DataFrames
df = {}

# Loop through each table and read data into separate DataFrames
for table in tables.values.flatten():  # Flatten the DataFrame to get table names
    query = f'SELECT * FROM {table}'
    df[table] = pd.read_sql(query, engine)

# Now you can access each DataFrame by its table name
# For example, to see the DataFrame for a specific table:
df['invoice']

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2021-01-01,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2021-01-02,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2021-01-03,Grétrystraat 63,Brussels,None,Belgium,1000,5.94
3,4,14,2021-01-06,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,8.91
4,5,23,2021-01-11,69 Salem Street,Boston,MA,USA,2113,13.86
...,...,...,...,...,...,...,...,...,...
407,408,25,2025-12-05,319 N. Frances Street,Madison,WI,USA,53703,3.96
408,409,29,2025-12-06,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,5.94
409,410,35,2025-12-09,"Rua dos Campeões Europeus de Viena, 4350",Porto,None,Portugal,None,8.91
410,411,44,2025-12-14,Porthaninkatu 9,Helsinki,None,Finland,00530,13.86
411,412,58,2025-12-22,"12,Community Centre",Delhi,None,India,110017,1.99